<!doctype html>
<html lang="en">
  <head>
    <base href="/" />

    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
      html {
        font-size: 22px;
      }
    </style>
  </head>
  <body>
    <script type="text/javascript" src="app.properties.js"></script>
    <widget-body>
      <text-to-speech-widget />
    </widget-body>
  </body>
</html>